nodejs/macmuter/nodered-server.json
[{"id":"c3c7dd3c.46819","type":"tab","label":"webhook2websocket","disabled":false,"info":""},{"id":"ff3c653.81aa698","type":"websocket in","z":"c3c7dd3c.46819","name":"","server":"e57cc715.0c43c8","client":"","x":160,"y":100,"wires":[["28306b68.035f44"]]},{"id":"60a0a314.ff0d7c","type":"debug","z":"c3c7dd3c.46819","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":100,"wires":[]},{"id":"c839234f.0caa5","type":"http in","z":"c3c7dd3c.46819","name":"","url":"/trigger","method":"get","upload":false,"swaggerDoc":"","x":180,"y":220,"wires":[["54509ffa.3e471","adbdb442.d8aa28"]]},{"id":"54509ffa.3e471","type":"http response","z":"c3c7dd3c.46819","name":"","statusCode":"","headers":{},"x":440,"y":240,"wires":[]},{"id":"cff57ea7.6922e","type":"json","z":"c3c7dd3c.46819","name":"","property":"payload","action":"","pretty":false,"x":490,"y":160,"wires":[["60a0a314.ff0d7c","a4ceaa86.72caa8"]]},{"id":"28306b68.035f44","type":"function","z":"c3c7dd3c.46819","name":"delete session","func":"delete msg._session\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["cff57ea7.6922e"]]},{"id":"a4ceaa86.72caa8","type":"websocket out","z":"c3c7dd3c.46819","name":"","server":"e57cc715.0c43c8","client":"","x":700,"y":220,"wires":[]},{"id":"adbdb442.d8aa28","type":"function","z":"c3c7dd3c.46819","name":"make json","func":"msg.payload = {trigger:true};\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":340,"wires":[["a4ceaa86.72caa8","60a0a314.ff0d7c"]]},{"id":"5ad861a.b78b0a","type":"inject","z":"c3c7dd3c.46819","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":340,"wires":[["adbdb442.d8aa28"]]},{"id":"e57cc715.0c43c8","type":"websocket-listener","z":"","path":"ws/trigger","wholemsg":"false"}]